/* Navigation.css */

.navigation {
  display: flex;
  justify-content: center;
  background-color: #edf2f4;
  padding: 2rem 0;
  border-bottom: 3px solid #d90429;
  font-size: 1.1rem;
  margin: 0;
}

.navItem {
  margin: 0 1rem;
  list-style-type: none;
}

.link {
  color: #2b2d42;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}

.link:hover {
  background-color: #d90429;
  color: #edf2f4;
}

.link.active {
  background-color: #2b2d42;
  color: #ffffff;
}
